<div class="class__contenedor__aside  ">
  <aside class="class__asside__menu">

    <div class="class__contenedor__superior">
      <button class="class__button__informacion"><i class="fas fa-home"></i>Inicio</button>
      <button class="class__button__informacion"><i class="fab fa-phoenix-framework"></i>Tendencias</button>
    </div>
    <div class="class__contenedor__inferior">
      <div class="class__contenedor__imformacionSuscripciones">
        <h5>Suscripciones</h5>
        <h5>Nombre del canal</h5>
      </div>
      <div class="class__contenedor__suscripciones">
        <h6>Programador Novato</h6>
        <h6>Juega German</h6>
        <h6>Mundo python</h6>
        <h6>Programador Novato</h6>
        <h6>UNivarcidad Nacional</h6>
      </div>
    </div>
  </aside>
</div>
