
  <div class="card" style="width: auto; background: none  ">
    <div class="card-body">

      <h1 class="card-title" style="font-size:4em">Haz volar tu mente</h1>


      <h4 class="card-subtitle mb-2 text-muted"style="margin-top:5%;font-size:2em">Crea y comparte tus videos</h4>

      <div class="nav justify-content-around" style="margin-top:15%">


        <div class="nav-item">
          <button type="button" class="btn btn-secondary" style="
          font-size:2em;
          color: white;
          background: black;
          border-color: black;
          padding-left:1.7em;
          padding-right:1.7em;
          ">Ver video</button>
        </div>



        <div class="nav-item">
          <button type="button" class="btn btn-secondary"
          style="
          color: black;
          font-size:2em;
          background: white;
          "
          >Unete ahora</button>
        </div>
      </div>

    </div>
  </div>
