<div class="content2 container-fluid">
    <h2 class="text-light">Estadísticas del Canal</h2>
    <div class="form-group">
      <div class="card-header bg-transparent text-light">Número de ingresos</div>
      <input type="number" readonly class="inputss card-header border-bottom text-light" id="ingresoslb" value="111.000" style="border: 0; outline: none; ">
    </div>
    <div class="card-header bg-transparent text-light">Tu número de suscriptores</div>
    <input readonly class="inputss card-header border-bottom text-light" style="border: 0; outline: none" value="14500.102">
    <div class="card-body text-light">
        <h3>Tus vídeos más vistos</h3>
      <table class="table border-0 text-light">
        <thead>
          <th>Nombre del video</th>
          <th>Número de vistas</th>
        </thead>
        <tbody>
          <tr>
            <td>Curso de python #3 conceptos básicos</td>
            <td>100.140</td>
          </tr>
          <tr>
            <td>Curso de python #3 conceptos básicos</td>
            <td>100.140</td>
          </tr>
          <tr>
            <td>Curso de python #3 conceptos básicos</td>
            <td>100.140</td>
          </tr>
          <tr>
            <td>Curso de python #3 conceptos básicos</td>
            <td>100.140</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
