.class__contenedor__section {
  display: table-cell;
  font-size: 1em;

}

.class__section__video {
  padding: 1em;
  padding-top: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: start;
}

section {
  margin: 0;
  padding: 0;
}

.class__contenedor__section {
  overflow: hidden;
}


.card-header {
  padding: 0;
  display: flex;
  justify-content: center;
}


.card-body {
  padding: 0.3em;
  width: auto;
  height: auto;
}

.card-body > p,
.card-body > h5 {
  margin: 0;
  padding: 0;
}


.card-body > h5 {
  font-weight: bold;
  font-size: 2em;
}

.card-header > a > video {
  width: auto;
  height: auto;
}

.card-footer {
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0;
}

.card-footer > p {
  margin: 0;
  padding: 0;
}

.class__contenedor__card {
  width: auto;
  margin-left: 0.3em;
  margin-bottom: 0.3em;
  height: auto;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

.class__contenedor__card,
.class__contenedor__card > div,
.card-footer,
.card-title,
.card-text {
  background-color: #1f1e1e;
}


.class__section__video {
  padding: 0;
  margin: 0;
}

