<div class="class__contenedor__section">
  <div>
    <section class="class__section__video">
      <div>
        <div class="card  class__contenedor__card">
          <div class="card-body">
            <div class="card-header">
              <a class="class__a__linkVideo">
                <video class=""
                       src="https://res.cloudinary.com/dzkcr9eec/video/upload/v1612645998/MyVieews/video-30-segundos-para-estados-de-whatsapp_hydquh.mp4"></video>
              </a>
            </div>


            <h5 class="card-title">video.nombre</h5>
            <p class="card-text">video.nombreCanal</p>
            <div class="card-footer">
              <p class="card-text">
                video.visualizaciones
              </p>
              <p class="card-text">
                video.fechaPublicacion
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>
