<ng-template #content let-modal>
  <div class="modal-content">
  <div class="modal-header border-0">
    <h4 class="modal-title">Modificar Contraseña</h4>
    <button type="button" class="close " style="color: white" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body border-0">
    <div class="form-group">
      <label for="InpConAnt">CONTRASEÑA ANTIGUA</label>
      <input type="password" class="form-control" id="InpConAnt">
    </div>
    <div class="form-group">
      <label for="InpConNue">CONTRASEÑA NUEVA</label>
      <input type="password" class="form-control" id="InpConNue">
    </div>
    <div class="form-group">
      <label for="InpConConf">CONFIRMAR CONTRASEÑA</label>
      <input type="password" class="form-control" id="InpConConf">
    </div>
  </div>
  <div class="modal-footer border-0">
    <button type="button" class="btn btn-light me-sm-3" (click)="modal.close('Save click')">MODIFICAR</button>
    <button type="button" class="btn btn-light me-sm-3" (click)="modal.close('Close click')">CANCELAR</button>
  </div>
  </div>
</ng-template>
<button type="button" class="btn btn-light" (click)="openVerticallyCentered(content)">Cambiar Clave</button>
