<div class="container">
  <div class="class__contenedor__searchVideo ">
    <div class="class__contenedor__Videos" *ngFor="let video of listVideo">
      <div class=" class__contenedor__Resultado__video">
        <cl-video public-id="{{video.directorio}}"
                  autoplay>
          <cl-transformation responsive angle="auto_left" background="#a3a1a1" delay="0" duration="3"
                             effect="transition"
                             end-offset="2" quality="auto" start-offset="0" width="250" height="200" crop="fill"
                             fetch-format="auto">
          </cl-transformation>
        </cl-video>
      </div>

      <div class=" class__contenedor__informacion">
        <h5>{{video.nombre}}</h5>
        <div class="class__contenedor__vis__fecha">
          <h6>{{video.visualizaciones}}view </h6>
          <h6>{{video.fecha}}</h6>
        </div>
        <h6>{{video.canal.nombreCanal}}</h6>
        <h6>{{video.descripcion}}</h6>
      </div>
    </div>
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 1)"
      fullScreen=false>
      <img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif'/>"
    </ngx-spinner>
  </div>

</div>
