.class__contenedor__searchVideo{
  overflow: auto;
  margin-bottom: 1em;
  height: 90vh;
  padding: 0.2em;
  width:auto;

}
.class__contenedor__Videos{
  display: flex;
  align-items: normal;
  flex-wrap: wrap;

}
.class__contenedor__vis__fecha{
  display: flex;
  justify-content: start;
}

.class__contenedor__vis__fecha > h6{
  margin-right: 2em;
}
.class__contenedor__informacion{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 40%;
  margin-left: 2em;
}


cl-video{
  height: 100%;
  margin-left: 4em;
}



