
<div class="class__contenedor__searchVideo container">
  <div class="class__contenedor__Videos">
    <div class=" class__contenedor__Resultado__video">
      <a class="class__a__linkVideo">
        <video class=""
               src="https://res.cloudinary.com/dzkcr9eec/video/upload/v1612645998/MyVieews/video-30-segundos-para-estados-de-whatsapp_hydquh.mp4"></video>
      </a>
    </div>

    <div class=" class__contenedor__informacion">
      <h5>videoSearch.nombre</h5>
      <h6>videoSearch.visualizaciones </h6>
      <h6>videoSearch.nombreCanal</h6>
      <h6>videoSearch.descripcion</h6>
    </div>
  </div>
</div>
