<div class="class__contenedor__nav">
  <nav class="class__nav__navegacion">
    <div class="class__contenedor__logo">
      <a class="class__a__image" href="home/views">
        <img
          src="assets/img/logo.png"
          alt="MyViews"
        />
      </a>
    </div>

    <div class="class__contenedor__busqueda">
      <button class="class__button__searchVideo" (click)="methodSearchVideo()"><i class="fas fa-search"
                                                                                  style="border: none;background-color: rgba(255, 255, 255, 0);font-size:1.5em ;color: black"></i>
      </button>
      <input type="text" class="class__input__searchVideo" id="id__input__searchVideo" placeholder="Buscar"
             [formControl]="nameSearchVideo"/>
    </div>

    <div class="class__contenedor__usuario ">
      <button class="class__button__masVideo" (click)="upload(uploadVideo)"><i class="far fa-plus-square"></i></button>
      <button class="class__button__masVideo" routerLink="/home/principal"><i class="fas fa-user"></i></button>
    </div>
  </nav>
</div>


<!--
Templates
-->

<ng-template class="class__contenedor__modal" #uploadVideo>
  <div class="modal-header bg-dark">
    <ul class="nav nav-tabs container">
      <li [ngClass]="{'nav-item active bg-light': modalVisible, 'nav-item': !modalVisible}" (click)="modalVisible=true">
        <a class="nav-link">Subir Videos</a>
      </li>
      <li [ngClass]="{'nav-item active bg-light': !modalVisible, 'nav-item': modalVisible}"
          (click)="modalVisible=false">
        <a class="nav-link">Detalle ModelVideo</a>
      </li>
    </ul>
  </div>
  <div class="btn-dark d-inline-block min-vh-10 font-weight-bold text-light">
    DETALLE
  </div>
  <div class="modal-body bg-dark" *ngIf="modalVisible">
    <ngx-dropzone (change)="onSelect($event)" class="bg-dark border-light " style="border: white 2px solid">
      <ngx-dropzone-label>
        <button class="btn">
          SELECCIONAR VIDEO
        </button>
      </ngx-dropzone-label>
      <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                                  (removed)="onRemove(f)">
        <ngx-dropzone-label class="align-items-center" (click)="onRemove(f)">{{ f.name }} ({{ f.type }})
        </ngx-dropzone-label>
      </ngx-dropzone-video-preview>
    </ngx-dropzone>
    <div class="class__seleccion__video">

    </div>
  </div>

  <div class="modal-body bg-dark" *ngIf="!modalVisible">
    <div class="modal__detalle__video bg-dark">
      <div class="class__contenedor__detalle__left">
        <div class="class__preview__video    bg-dark">
          <video [src]="url" *ngIf="format==='video' && url" height="150" width="250" controls
                 style="padding-top:1em;"></video>
        </div>
        <div class="class__tag__video">
          <div class="class__visibilida bg-dark">
            <select class="bg-dark" [(ngModel)]="listVisibilidad" style="font-size: 0.8em">
              <option disabled selected>Visibilidad</option>
              <option>DISPONIBLE</option>
              <option>PRIVADO</option>
            </select>
          </div>
          <div class="class_categoria bg-dark">
            <select class="bg-dark" [(ngModel)]="categoriaSelect" style="font-size: 0.8em">
              <option disabled selected>Categoria</option>
              <option *ngFor="let cat of listCategoria">{{cat.nomcat}} </option>
            </select>
          </div>
        </div>
      </div>
      <div class="class__contenedor__detalle__right">
        <div class="class__input__name__video">
          <input class="text-light bg-dark" placeholder="NOMBRE VIDEO" type="text" required="required"
                 [(ngModel)]="videoModel.video.nombre"/>
        </div>
        <div class="class__area__descripcion__video">
          <textarea cols="23" rows="8" placeholder="DESCRIPCION" class="bg-dark text-light "
                    [(ngModel)]="videoModel.video.descripcion"></textarea>
        </div>
      </div>
    </div>
    <div class="class__contenedor__acciones__modal ">
      <button class="btn px-2 btn-light" (click)="closeModal()">
        CANCELAR
      </button>
      <BUTTON class=" btn btn-primary" (click)="chargerVideo()">
        PUBLICAR
      </BUTTON>
    </div>
  </div>
</ng-template>



