.class__contenedor__nav{
  font-size: 2vh;
}
.class__nav__navegacion {
  padding-top: 2vh;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.class__contenedor__logo {
  width: auto;
  height: auto;
}

.class__a__image > img {
  width: 10vw;
  height: 6vh;
}

.class__input__searchVideo {
  width: 40vw;
  color: #1f1e1e;
}


.class__contenedor__usuario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.class__button__masVideo {
  height: 2em;
  width: 2em;
  color: antiquewhite;
  margin-right: 1em;
  margin-left: 1em;
  border: none;
  background-color: rgba(0, 0, 0, 0);

}

.class__button__masVideo > i {
  font-size: 1.5em;
}


.class__input__searchVideo {
  background-color: white;
  border: white solid 1px;
  padding: 0.4em;

}

.class__button__searchVideo {
  padding: 0.4em;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

.class__contenedor__busqueda {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

