<div class="class__contenedor__watchVideo ">
  <app-nav-navigation></app-nav-navigation>
  <div class="class__contenedor__body container-fluid">
    <div class="class__contenedor__left">
      <div class="card" *ngFor="let video of videosVistos">

        <div class="card-body">
          <div class="card-header">
            <cl-video  public-id="{{video.directorio}}"
                      controls autoplay loop>
              <cl-transformation responsive angle="auto_left" background="#a3a1a1"
                                 quality="auto"  width="700" height="350" crop="fill"
                                 fetch-format="auto">
              </cl-transformation>
            </cl-video>
          </div>
          <div class="card-footer">
            <div class="class__principal__nombreVideo">
              <h5>{{video.nombre}}</h5>
            </div>
            <div class="class__contenedor__informacion__Video">
              <div class="class__contenedor__fecha__views">
                <h6>{{video.fechaPublicacion}}</h6>
                <h6>{{video.visualizaciones}}</h6>
              </div>
              <div class="class__contenedor__gustas__reporte">
                <h6><i class="fas fa-heart"></i> {{video.gusta}}</h6>
                <h6><i class="fas fa-heart-broken"></i> {{video.noGustar}}</h6>
                <label><i class="fas fa-flag"></i></label>
              </div>
            </div>

            <div class="class__contenedor__canal__miembro">
              <div class="class__contenedor__canal__suscripciones">

                <div class="class__contenedor__canal">

                  <h4><label><i class="fas fa-user"></i></label>
                    {{video.canal.nombreCanal}}</h4>
                </div>
                <div class="class__contenedor__intereses">
                  <button class="btn btn-light class__miembro">MIEMBRO</button>
                  <button class="btn class__Suscribirse">SUSCRIBIRSE</button>
                  <label><i class="fas fa-bell"></i></label>
                </div>
              </div>
              <div class="class__contenedor__descripcion ">
                <div class="class__descripcion container">
                  <label>{{video.descripcion}}</label>
                </div>
            </div>
            </div>

          </div>
        </div>
        <div class="class__contenedor__comentar container-fluid">
          <div class="class__input__icon">
            <label for="id__input__comentario"><i class="fas fa-user"></i></label>
            <input type="text" placeholder="Escribe tu comentario" id="id__input__comentario"/>
          </div>
          <div class="class__contenedor__btn__comentarios ">
            <button class="btn btclass__cancelar">
              CANCELAR
            </button>
            <button class="btn class__comentar">
              COMENTAR
            </button>
          </div>
          <div class="class__contenedor__comentario">
            <div class="contenedor__datos__comentario">
              <h5>nombre canal</h5>
              <label>Comntario</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="class__contenedor__right">
      <div class="class__contenedor__videosExtras" *ngFor="let vd of listaVideosDistintos">
        <div>
          <div class="class__contenedor__videoExtra" (click)="viewVideo(vd.externalId, vd)">
            <cl-video public-id="{{vd.directorio}}"
                      autoplay>
              <cl-transformation responsive angle="auto_left" background="#a3a1a1" delay="0" duration="3"
                                 effect="transition"
                                 end-offset="2" quality="auto" start-offset="0" width="200" height="150" crop="fill"
                                 fetch-format="auto">
              </cl-transformation>
            </cl-video>
          </div>
          <div class="class__contenedor__informacion__video">
            <label>{{vd.nombre}}</label>
            <label>{{vd.canal.nombreCanal}}</label>
            <label>{{vd.fechaPublicacion}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0)">
    <div class="spinner-grow" role="status" >
      <span class="sr-only">Loading...</span>
    </div>
  </ngx-spinner>
</div>
