<nav class="navbar navbar-expand-sm bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" alt="MyViews" width="125px" height="35px" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <a class="btnMenuDes"><i class="fas fa-bars"></i></a>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link"><i class="fas fa-bell"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#"><i class="fas fa-tv"></i> Canal</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="fas fa-user-cog"></i> Estudio</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="fas fa-user"></i> Perfil</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="fas fa-sign-out-alt"></i> Salir</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto flex-column vertical-nav">
      <li class="nav-item">
        <a class="nav-link"><i class="fas fa-home"></i> Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fab fa-phoenix-framework"></i> Tendencias</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="dat container-fluid">
  <h2 class="logoPerfil">Perfil</h2>
  <div class="textos">
    <h4 class="text-dark">NOMBRE DE USUARIO</h4>
    <hr />
    <h4 class="text-dark">NOMBRES</h4>
    <hr />
    <h4 class="text-dark">FECHA DE NACIMIENTO</h4>
    <hr />
    <h4 class="text-dark">CORREO ELECCTRÓNICO</h4>
    <hr />
    <h4 class="text-dark">CONTRASEÑA</h4>
    <app-modal-cambiar-clave></app-modal-cambiar-clave>
    <app-modal-modificar-datos></app-modal-modificar-datos>
    <app-modal-dar-baja-cuenta></app-modal-dar-baja-cuenta>
  </div>
</div>
