<div class="wrapper fixed-left">
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <div class="contenedorSuperior text-md-center">
        <li>
          <a href=""><i class="fas fa-home"></i>Inicio</a>
        </li>
      </div>
      <div class="contenedorMedio text-md-center">
        <li>
          <a href=""><i class="fas fa-bars"></i>Administrar</a>
        </li>
      </div>
      <div class="contenedorInferior text-md-center">
        <label>Suscripciones</label>
        <li><h6>Programador Novato</h6></li>
        <li><h6>Juega German</h6></li>
        <li><h6>Mundo Python</h6></li>
        <li><h6>Programador Novato</h6></li>
        <li><h6>Universidad Nacional</h6></li>
      </div>
    </ul>
  </nav>
</div>
