.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}
.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}#sidebar {
   min-width: 250px;
   max-width: 250px;
   min-height: 100vh;
   max-height: 100vh;
   background: #171717;
   color: #fff;
   transition: all 0.3s;
 }


#sidebar ul.components{
  padding: 20px 0px;
  height: 100%;
}

#sidebar ul p{
  padding: 10px;
  font-size: 1.1em;
  display: block;
  height: 100%;
}

#sidebar ul li a{
  padding: 10px 10px 10px 20px;
  font-size: 1.1em;
  display: block;
  color: #fff;
  font-weight: bold;
  height: 100%;
}
#sidebar ul li a:hover {
  color: #6240bd;
  background: #fff;
  text-decoration: none;
}

@media screen and (max-width:700px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}
@media screen and (max-width: 400px){
  #sidebar {
    float: none;
  }
}
.contenedorSuperior, .contenedorMedio{
  padding: 0;
  height: 190px;
}
