<div class="wrapper2">
  <nav id="sidebar2">
    <ul class="list-unstyled components">
      <div class="contenedorSuperior text-md-center">
        <li>
          <a href="/home/principal/panel"><i class="fas fa-columns"></i>Panel</a>
        </li>
        <li>
          <a routerLink="/home/principal/contenido"><i class="fas fa-film"></i>Mi Contenido</a>
        </li>
        <li>
          <a href="/home/principal/personalizar"><i class="fas fa-wrench"></i>Personalizar</a>
        </li>
      </div>
    </ul>
  </nav>
</div>
